{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow mt-5">
            <h2 class="text-center">📝 Create Account</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign Up</button>
            </form>
            <div class="form-link-container">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}